
body {
        margin: 0;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        height: 100%;
}

.top-box {
        width: 100%;
        background-color: #002244;
        padding: 0px 9px;
        box-sizing: border-box;
        position: relative;
}

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}


.name {
        margin: 0;
        padding-left: 20px;
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif;
        color: #ff8396;
        text-decoration: none;
}

.button-container {
        width: 100%;
        background-color: #FFC0CB;
        z-index: 1000;
        display: flex;a
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
}

.button {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #002244;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.3s;
    text-align: center;
    margin-top: 3px;
    border-radius: 3px;
    width: 120px;
    font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
        background-color: #ddd;
}

.social-img {
        display: flex;
        flex-direction: row;
        margin: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.section {
     font-family: Helvetica, Arial, sans-serif;
    padding: 1em; /* Responsive space inside the box */
    margin: 1em 0; /* Responsive space outside the box */
    font-size: 1rem; /* Responsive font size */
    background-color: #002244;
    border-radius: 5px; /* Example border radius */
    color:#FFC0CB;
    font-size: 12px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: repeat(2, 1fr); /* Two equal rows */
    grid-gap: 20px; /* Space between items */
    width: 100%; /* Ensure grid takes full available width */
    max-width: 1200px; /* Optional: limits the grid's maximum width */
    margin: auto; /* Centers the grid horizontally if under max-width */
}

.grid > div {
   display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: flex-start; /* Aligns children at the top */
    align-items: center; /* Centers children horizontally */
    text-align: center; /* Ensures text is centered */
    padding: 10px; /* Adds some padding inside each grid cell */
    height: 100%;
}

.picture img {
    max-width: 100%; /* Makes sure the image does not exceed its container */
    height: auto; /* Maintains aspect ratio */
}
