body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 70px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.top-box {
        width: 100%;
        background-color: #002244;
        padding: 1px 10px;
        box-sizing: border-box;
        position: relative;
}

.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}


.name {
        margin: 0;
        padding-left: 20px;
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif;
        color: #ff8396;
        text-decoration: none;
}

.button-container {
        width: 100%;
        background-color: #FFC0CB;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
}

.button {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        color: #002244;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 20px;
        transition: 0.3s;
        text-align: center;
        margin-top: 3px;
        border-radius: 3px;
        width: 120px;
        font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
        background-color: #ddd;
}

.social-img {
        display: flex;
        flex-direction: row;
        margin: 20px;
}

.social-icon {
        width: 30px;
        height: 30px;
        margin-left: 30px;
}


.category {
    border-top: 2px solid #ccc; /* Adds a top border for separation */
    padding-top: 20px; /* Spacing above the category title */
    margin-top: 20px; /* Spacing above the border */
    width: 80%; /* Control the width to center the content */
    font-family: 'Helvetica', 'Arial', sans-serif;
  
}

.image-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; /* Aligns content to the start */
    margin-bottom: 20px;
    width: 80%; /* Maintain uniform width */
    font-size: 1.75rem;
    color: #333333;

}

.image-section img {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-right: 20px; /* Space between image and text */
}


.image-section p, .image-section .text-content p {
    margin: 0 0 20px 0;
    flex: 1;
    line-height: 1.4;
    padding: 0 10px;
    font-size: 1rem;
    color: #666666;
}



.text-content {
    display: flex;   
    flex-direction: column; /* Stacks child paragraphs vertically */
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1; /* Takes up remaining space */
    gap: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.text-content p {
    margin: 0; /* Adds a 20px margin to the bottom of each paragraph */
    flex: 1;
    line-height: 1.4;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
}
