body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.top-box {
margin-left: -20px; /* Negate body's padding */
    margin-right: -20px;
    width: 100%;
    background-color: #002244;
    padding: 1px 10px;
    box-sizing: border-box;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name {
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ff8396;
}

.social-img {
    display: flex;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.button-container {
margin-left: -20px; /* Negate body's padding */
    margin-right: -20px;
    width: 100%;
    background-color: #FFC0CB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.button {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #002244;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.3s;
    text-align: center;
    margin-top: 3px;
    border-radius: 3px;
    width: 120px;
    font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
    background-color: #ddd;
}

